.clickable {
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

button,
a.btn {
  --button-size: 42px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  font-weight: var(--fw-bold);
  font-size: 1rem;

  height: var(--button-size);

  padding-inline: 1.2rem;

  border: none;

  background-color: transparent;

  text-decoration: none;

  &.icon-button {
    width: var(--button-size);

    // hovers are  handled in each color class
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }

    &.primary {
      background-color: var(--color-primary);
      color: white;

      &:hover {
        background-color: var(--color-primary-dark);
      }
    }

    &.black {
      background-color: var(--color-black);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-black-dark);
      }
    }

    &.white {
      background-color: var(--color-white-light);
      color: var(--color-black);

      &:hover {
        background-color: var(--color-white);
      }

      --border-width: 1px;
      // using box-shadow to make the border on the inside of the button
      -webkit-box-shadow: inset 0px 0px 0px var(--border-width) black;
      -moz-box-shadow: inset 0px 0px 0px var(--border-width) black;
      box-shadow: inset 0px 0px 0px var(--border-width) black;
    }
  }

  &.disabled {
    background-color: gray;
    cursor: default;
  }
}
