label {
  font-weight: var(--fw-bold);
}

// apply to all inputs, except checkbox
input:not([type='checkbox']) {
  height: 56px;

  width: 100%;

  padding: 12px;

  border: 1px solid var(--color-black);

  background-color: transparent;

  &::placeholder {
    color: var(--color-black);
  }
}

.checkbox-input {
  display: flex;

  gap: 6px;

  label {
    font-weight: var(--fw-regular);
  }

  input {
    width: 20px;
    height: 20px;

    margin-top: 2px;
    cursor: pointer;
  }
}
