label {
  font-weight: var(--fw-bold);

  position: relative;

  display: flex;
  align-items: center;

  // assuming this is also inside the label
  .suffix {
    position: absolute;

    right: 12px;
    top: auto;

    // adjusts icon size since most likey it's a material icon here
    font-size: 1.6rem;
  }
}

// apply to all inputs, except checkbox
// this assumes that the input is inside the label
input:not([type='checkbox']) {
  height: 56px;

  width: 100%;

  padding: 12px;

  border: 1px solid var(--color-black);

  background-color: transparent;

  &::placeholder {
    color: var(--color-black);
  }
}

.checkbox-input {
  display: flex;

  gap: 6px;

  label {
    font-weight: var(--fw-regular);
  }

  input {
    width: 20px;
    height: 20px;

    margin-top: 2px;
    cursor: pointer;
  }
}
