<div class="page-container">
  <h3>Log in to your account</h3>

  <div class="login-form">
    <div class="login-type">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png"
      />

      <span> Continue with Google </span>
    </div>

    <div class="login-type">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Facebook_Home_logo_old.svg"
      />
      button
      <span> Continue with Facebook </span>
    </div>

    <div class="login-type">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
      />

      <span> Continue with Apple </span>
    </div>

    <form style="display: flex; flex-direction: column; gap: 8px">
      <label>
        <input
          type="text"
          placeholder="Email"
        />
      </label>

      <label>
        <input
          type="password"
          placeholder="Password"
        />
      </label>

      <button
        class="primary"
        type="submit"
      >
        Log in
      </button>
    </form>

    <div
      style="
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 4px;
      "
    >
      <div>or <span class="link">Forgot Password</span></div>

      <hr />

      <div>
        Don't have an account?
        <a
          [routerLink]="AppRoutes.join.absoluteRegisterPath()"
          class="link"
          >Sign up</a
        >
      </div>

      <div class="link">Log in with your organization</div>
    </div>
  </div>
</div>
