:root {
  --font-family: 'sans';

  --fw-bold: 600;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-body: 13px;
}

:root,
body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
}
