<div class="heading">
  <h3>
    Top companies choose <span class="clickable" style="color: var(--color-primary-light)">Udemy Business</span> to build in-demand career skills.
  </h3>

  <div class="company-list">
    <img src="https://s.udemycdn.com/partner-logos/v4/nasdaq-light.svg" alt="Nasdaq" />
    <img src="https://s.udemycdn.com/partner-logos/volkswagen-logo.svg" alt="Volkswagen" />
    <img src="https://s.udemycdn.com/partner-logos/v4/box-light.svg" alt="Box" />
    <img src="https://s.udemycdn.com/partner-logos/v4/netapp-light.svg" alt="Netapp" />
    <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-light.svg" alt="EventBrite" />
  </div>
</div>

<hr/>

<div class="body">
  <div class="links">
    <ul>
      <li>Udemy Business</li>
      <li>Teach on Udemy </li>
      <li>Get the app</li>
      <li>About Us</li>
      <li>Contact Us</li>
    </ul>

    <ul>
      <li>Careers</li>
      <li>Blog</li>
      <li>Help and Support</li>
      <li>Affiliate</li>
      <li>Investors</li>
    </ul>

    <ul>
      <li>Terms</li>
      <li>Privacy Policy</li>
      <li>Cookie Settings</li>
      <li>Sitemap</li>
      <li>Accessbility statement</li>
    </ul>
  </div>

  <div class="language">
    <span class="material-icons-outlined"> language </span>
    <span> English </span>
  </div>
</div>

<div class="footing">
  <h3 class="logo">Dontsueme</h3>

  <div>
    <span>© 2023 Dontsueme, Inc.</span>
  </div>
</div>
